<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotarm">
    <gazebo>
        <xacro:if value="$(arg is_ignition)">
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find robotarm_controller)/config/robotarm_controllers.yaml</parameters>
            </plugin>
        </xacro:if>
        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find robotarm_controller)/config/robotarm_controllers.yaml</parameters>
            </plugin>
        </xacro:unless>
    </gazebo>
</robot>
